.cards__items {
    display: flex;
    flex-wrap: wrap;
}

.cards__one-item {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .cards__one-item {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .cards__one-item {
        width: 100%;
    }
}