.g-text-right {
    text-align: right;
}

.g-pt-30 {
  padding-top: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.block {
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.block__header {
  font-size: 20px;
  margin: 0;
}

.block__header h2 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}