.logo {
    color: #131313;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.logo__img {
    width: 70px;
    height: 70px;
}

.logo__text {
    margin-left: 10px;
}